@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Real-Time Notifications</title>
    <script type="text/javascript" src="~/js/shake.js"></script>
    <script>

        /* WebSocket Region*/
        var socket = undefined;
        function _uuid() {
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) { var r = Math.random() * 16 | 0, v = c == 'x' ? r : r & 0x3 | 0x8; return v.toString(16); });
        }

        var uuid = _uuid()
        console.log('uuid =>' + uuid)
        //var name = document.getElementById("name").value;
        var uri = "ws://" + window.location.host + "/Live3d/LiveChat?Name=" + uuid;
        socket = new WebSocket(uri);
        socket.onopen = function () {
            console.log(uuid + '  connected ')
        };

        var list = document.getElementById("messages");
        socket.onmessage = function (event) {
            var result = JSON.parse(event.data);
            var name = result.Sender;
            var message = result.Message;

            //var item = document.createElement("li");
            //item.appendChild(document.createTextNode(name + " said:" + message));
            //list.appendChild(item);
            console.log(' got message :' + message)
        };


        /* Shaker Sensor */
        window.onload = function () {
            //create a new instance of shake.js.
            var myShakeEvent = new Shake({
                threshold: 15
            });

            // start listening to device motion
            myShakeEvent.start();

            // register a shake event
            window.addEventListener('shake', shakeEventDidOccur, false);

            //shake event callback
            function shakeEventDidOccur() {
                //socket.send(JSON.stringify({
                //    Receiver: 'unity',
                //    Message: "Shake"
                //}))
                //    .then(() => {
                        //put your own code here etc.
                        alert('Shake!');
                    //});
            }
        };


    </script>
</head>

<body>
    <div id="chat">
        <h1>Live Actress Action <span id="displayName"></span></h1>

        <p>To:<input type="text" id="to" /></p>
        <p><button class="btn-info" id="Blue">Blue</button></p>
        <p><button class="btn-outline-info badge-light" id="Yellow">Yellow</button></p>
        <p><button class="btn-info" id="Red">Red</button></p>
        <script>
            function animateCSS(element, animationName, callback) {
                const node = document.getElementById(element)
                node.classList.add('animated', animationName)

                function handleAnimationEnd() {
                    node.classList.remove('animated', animationName)
                    node.removeEventListener('animationend', handleAnimationEnd)

                    if (typeof callback === 'function') callback()
                }

                node.addEventListener('animationend', handleAnimationEnd)
            }

            document.getElementById("Blue").onclick = function () {
                animateCSS('Blue', 'jello')
                socket.send(JSON.stringify({
                    Receiver: 'unity',
                    Message: "Blue"
                }));

            };

            document.getElementById("Yellow").onclick = function () {
                animateCSS('Yellow', 'jello')
                socket.send(JSON.stringify({
                    Receiver: 'unity',
                    Message: "Yellow"
                }));
                document.getElementById("content").value = "";
            };

            document.getElementById("Red").onclick = function () {
                animateCSS('Red', 'jello')
                socket.send(JSON.stringify({
                    Receiver: 'unity',
                    Message: "Red"
                }));
                document.getElementById("content").value = "";
            };
        </script>

        <ul id="messages"></ul>
    </div>

    @*<script language="javascript" type="text/javascript">
            var uri = "ws://" + window.location.host + "/LiveChat?Name=Aslan";
            socket = new WebSocket(uri);
            socket.onmessage = function (event) {
                appendItem(list, event.data);
                console.log(event.data);
            };

            var list = document.getElementById("messages");
            var button = document.getElementById("sendButton");
            button.addEventListener("click", function() {

                var input = document.getElementById("textInput");
                sendMessage(input.value);

                input.value = "";
            });
            function sendMessage(message) {
                console.log("Sending: " + message);
                socket.send(message);
            }
            function appendItem(list, message) {
                var item = document.createElement("li");
                item.appendChild(document.createTextNode(message));
                list.appendChild(item);
            }
        </script>*@
</body>
</html>